{% if request.current_signup.crawling_facebook? %}

  <div class="row-fluid">
    <div class="span12 facebook-followings" id="facebook_followings">
      <img src="{{ "bert-loader-small.gif" | asset_path }}" border="0"> Nous recherchons vos amis Facebook qui nous ont déjà rejoints...
      {{ request.current_signup.crawling_facebook_status_url | auto_refresh }}
    </div>
  </div>

{% else %}

  <div class="row-fluid">
    <div class="span12">

    {% if request.current_signup.followings_count_from_facebook == 0 %}
      Aucun de vos amis Facebook ne nous a encore rejoint.
    {% else %}
    <strong>{{ request.current_signup.followings_count_from_facebook }}</strong> de vos amis Facebbok nous ont rejoints.<br/>
    Vous les suivrez automatiquement et vice-versa.
    {% endif %}

    </div>
  </div>

  {% if request.current_signup.followings_count_from_facebook > 6 %}
  <div class="row-fluid">
    <div class="span12">
      <div class="supporter-follow-details padbottom">Incluant...</div>
    </div>
  </div>
  {% endif %}

  {% for signup in request.current_signup.followings_from_facebook %}
  <div class="people-list {% cycle 'odd', 'even' %}">
    <div class="people-list-pic">{{ signup.bigger_profile_image }}</div>
    <div class="people-name">{{ signup.published_name_linked }}</div>
  </div>
  {% endfor %}

{% endif %}