{% form_for vote_pledge %}

<h4>
  Oui, je vais
  {% if vote_pledge.could_vote? %}
  voter pour
  {% else %}
  soutenir
  {% endif %}
  {{ site.candidate_first_name_or_site_name }}.
</h4>

{% if page.vote_pledge.yes_content.size > 0 %}
{{ page.vote_pledge.yes_content }}
{% endif %}

{% hidden_field_tag "vote_pledge[will_vote_status]", 1 %}

<div class="form-errors">{% error_messages_for vote_pledge %}</div>

{% if request.logged_in? == true %}
{% else %}
  {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
  <div class="row-fluid">
    <div class="span6"><label for="vote_pledge_first_name">Prénom</label>{% text_field "first_name", class:"text" %}</div>
    <div class="span6"><label for="vote_pledge_last_name">Nom de famille</label>{% text_field "last_name", class:"text" %}</div>
  </div>
  {% endif %}

  {% if request.sorta_logged_in? == false %}
  <div class="row-fluid">
    <div class="span6"><label for="vote_pledge_email">Courriel</label>{% email_field "email", class:"text" %}</div>
    {% if site.ask_for_mobiles? %}
    <div class="span6"><label for="vote_pledge_mobile_number">Téléphone cellulaire (optionnel)</label>{% phone_field "mobile_number", class:"text" %}</div>
    {% endif %}
  </div>

  <div class="row-fluid">
    <div class="span6"><label class="checkbox" for="vote_pledge_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Recevoir des notifications par courriel</label></div>
    {% if site.ask_for_mobiles? %}
    <div class="span6"><label class="checkbox" for="vote_pledge_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Recevoir des notifications par messages texte</label></div>
    {% endif %}
  {% endif %}
  </div>
{% endif %}

{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
<div class="row-fluid">
  <div class="span12"><label for="vote_pledge_submitted_address">Adresse (rue, ville, province, code postal) -- pour voir si vous pouvez voter</label>{% text_field "submitted_address", class:"text" %}</div>
</div>
{% endif %}

{% if site.ask_for_volunteers? %}
  {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
  <div class="row-fluid">
    <div class="span12"><label class="checkbox" for="vote_pledge_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} Je veux être bénévole</label></div>
  </div>
  {% endif %}
{% endif %}

<div class="row-fluid">
  <div class="span12"><label for="vote_pledge_content">Commentaires (optionnels)</label>{% text_area "content", class:"textarea" %}</div>
</div>
{% if site.ask_to_publish_to_stream? %}
<div class="row-fluid">
  <div class="span12"><label class="checkbox" for="vote_pledge_is_private">{% check_box "is_private", class:"checkbox" %} Ne pas publier cela sur le site web</label></div>
</div>
{% endif %}

{% submit_tag "Promis!", class:"submit-button" %}
<div class="form-submit"></div>

{% endform_for %}
