<div id="content">

  {% if page.leaderboard.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.leaderboard.content }}
  </div>
  {% endif %}

  {% for leaderboard in page.page_leaderboards %}

  <div class="leaderboard padbottom">

    {% if leaderboard.has_goal? %}
    {% assign thermo_width = 50 %}
    <div class="clearfix thermometer">
      <div class="progress" style="width: {{ thermo_width }}%;">
        <div class="bar bar-success" style="width: {{ leaderboard.percent_of_goal | times:100 }}%;">
          <div class="bar-text">{{ leaderboard.total }} {{ leaderboard.goal_name_short }}</div>
        </div>
      </div>

      <div class="bar-goal">{{ leaderboard.goal }} {{ leaderboard.goal_name }}</div>
    </div>

    {% endif %}

    {% if leaderboard.display_number_results > 0 %}

    <h4>{{ leaderboard.display_name }} : les {{ leaderboard.display_number_results }} meilleurs<</h4>

    {% for entry in leaderboard.entries %}
    <div class="people-list {% cycle 'odd', 'even' %}">
      <div class="people-list-pic">{{ entry.signup.bigger_profile_image }}
        <span class="leaderboard-rank">{{ entry.position }}</span></div>
      <div class="people-name">{{ entry.signup.published_name_linked }} </div>
      {{ entry.total }} {{ leaderboard.goal_name }}
    </div>
    {% endfor %}

    {% endif %}

  </div>

  {% endfor %}

  <div class="like-page">
    <strong>Vous aimez cette page?</strong>
    <br/><span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pocket_large' displayText='Pocket'></span>
<span class='st_reddit_large' displayText='Reddit'></span>
<span class='st_email_large' displayText='Email'></span>
<span class='st__large' displayText=''></span>
  </div>
</div>