<div id="content">

	{% if page.is_homepage? == false %}
  <div id="intro" class="intro clearfix">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
    <div class="like-page">
      <strong>Vous aimez cette page?</strong>
      <br/><span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pocket_large' displayText='Pocket'></span>
<span class='st_reddit_large' displayText='Reddit'></span>
<span class='st_email_large' displayText='Email'></span>
<span class='st__large' displayText=''></span>
    </div>
  </div>
	{% else %}
  <div id="intro" class="clearfix">
    <div class="text-content">
      {% if page.parent.headline.size %}
      <h2 class="headline">{{ page.parent.name }}</h2>
      {% else %}
      	{% if page.headline.size %}
      	<h2 class="headline">{{ page.name }}</h2>
      	{% endif %}
      {% endif %}
      {{ page.basic.content }}
    </div>
    <div class="like-page">
      <strong>Vous aimez cette page?</strong>
      <br/><span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pocket_large' displayText='Pocket'></span>
<span class='st_reddit_large' displayText='Reddit'></span>
<span class='st_email_large' displayText='Email'></span>
<span class='st__large' displayText=''></span>
    </div>
  </div>  
  {% endif %}

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>